<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ventas(); as ventasRef) {
      <div>
        <h2 data-cy="ventasDetailsHeading"><span jhiTranslate="siglo21App.ventas.detail.title">Ventas</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ventasRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="siglo21App.ventas.descripcion">Descripcion</span></dt>
          <dd>
            <span>{{ ventasRef.descripcion }}</span>
          </dd>
          <dt><span jhiTranslate="siglo21App.ventas.cantidad">Cantidad</span></dt>
          <dd>
            <span>{{ ventasRef.cantidad }}</span>
          </dd>
          <dt><span jhiTranslate="siglo21App.ventas.total">Total</span></dt>
          <dd>
            <span>{{ ventasRef.total }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/ventas', ventasRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
