<div>
  <h2 id="page-heading" data-cy="ComprasHeading">
    <span jhiTranslate="siglo21App.compras.home.title">Compras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="siglo21App.compras.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compras"
        [routerLink]="['/compras/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="siglo21App.compras.home.createLabel">Crear nuevo Compras</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (compras?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="siglo21App.compras.home.notFound">Ningún Compras encontrado</span>
    </div>
  }

  @if (compras && compras.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="detalle">
              <div class="d-flex">
                <span jhiTranslate="siglo21App.compras.detalle">Detalle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cantidad">
              <div class="d-flex">
                <span jhiTranslate="siglo21App.compras.cantidad">Cantidad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precio">
              <div class="d-flex">
                <span jhiTranslate="siglo21App.compras.precio">Precio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (compras of compras; track trackId(compras)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/compras', compras.id, 'view']">{{ compras.id }}</a>
              </td>
              <td>{{ compras.detalle }}</td>
              <td>{{ compras.cantidad }}</td>
              <td>{{ compras.precio }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/compras', compras.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/compras', compras.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(compras)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
