<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (compras(); as comprasRef) {
      <div>
        <h2 data-cy="comprasDetailsHeading"><span jhiTranslate="siglo21App.compras.detail.title">Compras</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ comprasRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="siglo21App.compras.detalle">Detalle</span></dt>
          <dd>
            <span>{{ comprasRef.detalle }}</span>
          </dd>
          <dt><span jhiTranslate="siglo21App.compras.cantidad">Cantidad</span></dt>
          <dd>
            <span>{{ comprasRef.cantidad }}</span>
          </dd>
          <dt><span jhiTranslate="siglo21App.compras.precio">Precio</span></dt>
          <dd>
            <span>{{ comprasRef.precio }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/compras', comprasRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
